.btn-previous{
    margin-left: 70%;
    margin-bottom: 60%;
    
}
.carousel-control-prev-icon{
    border: 1px solid black;
    background-color: rgb(87, 84, 80);
    color: black;
}
.btn-next{
  
    margin-bottom: 60%;
    
}
.carousel-control-next-icon{
    border: 1px solid black;
    background-color: rgb(87, 84, 80);
    color: black;
}
